:root {
  --second-color: #2196f3;
  --paragraph-color: #757575;
  --background-color: #2f303a;
  --main-line-height: 1.17;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}
.list {
  list-style: none;
}
.hidden {
  opacity: 0;
}
/*Header */
.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--second-color);
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-span {
  color: #000000;
}
.nav,
.contact {
  line-height: 1.14;
}
.link {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
.contacts {
  color: var(--paragraph-color);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--second-color);
}
.contacts:hover,
.contacts:focus {
  color: var(--second-color);
}
/*Header end*/

/*Main*/

/*Buttons*/
.button {
  cursor: pointer;
  color: #212121;
  background-color: #f5f4fa;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
}
.button:hover,
.button:focus {
  color: #ffffff;
  background-color: var(--second-color);
}

/*Title*/
.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

/*Subtitle*/
.gallery-subtitle {
  font-size: 16px;
  line-height: 1.8;
  color: #757575;
}

.reference {
  text-decoration: none;
  color: inherit;
}
/*Main end*/

/*Footer*/
.footer {
  background-color: var(--background-color);
}
.footer-span {
  color: #ffffff;
}

.google-map {
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  text-decoration: none;
}
/*Footer end*/
